@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@400;500;600;700&family=Parisienne:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Parkinsans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: "Parisienne", serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  background-color: #fdf2f8;
}


@media(max-width:450px){
  body {
    justify-content: start;
    padding: 20px 0px;
  }
}


@keyframes fall {
  0% {
    transform: translateY(-100%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-flower {
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
