@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@400;500;600;700&family=Parisienne:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Parkinsans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: "Parisienne", serif;
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  background-color: #fdf2f8;
}


@media(max-width:450px){
  body {
    justify-content: start;
    padding: 20px 0px;
  }
}


@keyframes flowerFall {
  0% {
    transform: translateY(-10px); /* Empezar desde arriba */
    opacity: 0; /* Comenzar invisible */
  }
  50% {
    opacity: 1; /* Hacerse visible a la mitad de la caída */
  }
  100% {
    transform: translateY(100vh); /* Caer hasta el fondo de la pantalla */
    opacity: 1; /* Mantenerse visible al final */
  }
}

.animate-flower {
  animation: flowerFall 6s linear infinite; /* Hacemos que la animación dure más tiempo y sea continua */
  opacity: 0;  /* Asegura que empiecen invisibles */
  animation-fill-mode: forwards; /* Asegura que la animación se mantenga */
}
