@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@400;500;600;700&family=Parisienne:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Parkinsans, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

h1,
h2 {
  font-family: "Parisienne", serif;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf2f8;
  min-height: 100vh;
}

@media (max-width: 450px) {
  body {
    justify-content: start;
    padding: 20px 0px;
  }
}

@keyframes flowerFall {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 1;
  }
}

.animate-flower {
  animation: flowerFall 6s linear infinite;
  opacity: 0;
  animation-fill-mode: forwards;
  will-change: transform, opacity;
}
